#titleBox {
    background: #283B76;
    padding: 6em;
    background: url('http://eskipaper.com/images/city-background-3.jpg') center;
    margin-bottom: 1em;
}

#titlee {
    margin: 1em 0em 1em 0em;
    background: white;
    border-bottom: solid #f48422;
    font-size: 5em;
    border-radius: 0.2em;
}

#FrontPage {
    margin: 0;
}

.spinner {
    margin-top: 0.5em;
    text-align:center;
}

.spinner2 {
    padding-top: 1em;
}

#articlePage {
    color: black;
}

#articlePage.h3.strong {
    color: black;
}

.nav {
    background: white;
}

#commentform {
    margin-top: 1.5em;
}

nav.level:not(:last-child) {
    margin: 0em;
}

#articleInfo {
    margin: 1em;
}


#deleteButton {
    float: right
}

.box {
    background: #fcfbed;
}

.articleBox:hover {
    background: lightgray;
}

#author {
    float: right;
}

.columns {
    padding: 3em 0em 0em 0em;
}

.voteword {
    text-align: center;
}

.media-left {
    align-items: center;
    justify-content: center;
}

.media-content {
    padding: 1.7em 0em 0em 0.6em;
}

.ArticleList {
    padding: 1em 2em 1em 2em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}