#titleBox {
    background: #283B76;
    padding: 6em;
    background: url('http://eskipaper.com/images/city-background-3.jpg') center;
}

#titlee {
    margin: 1em 0em 1em 0em;
    background: white;
    border-bottom: solid #f48422;
    font-size: 5em;
}

#articlePage {
    color: black;
}

#articlePage.h3.strong {
        color: black;

}

.nav {
    background: #fcfbed;
}

nav.level:not(:last-child) {
    margin: 0em;
}

#articleInfo {
    margin: 1em;
}


#deleteButton {
    float: right
}

.box {
    margin: 2em;
    /*align-items: center;
    justify-content: center;*/
    background: #fcfbed;
}

#author {
    float: right;
}

.columns {
    padding: 3em 0em 0em 0em;
     /*background: rgb(50,115,120);*/
    /*background: url('http://eskipaper.com/images/city-background-3.jpg');*/
    /*background-size: 100% 100%; might want these in to stretch image
    background-repeat: no-repeat;*/
}

.voteword {
    text-align: center;
}

.media-left {
    align-items: center;
    justify-content: center;
}

.media-content {
    padding: 1.7em 0em 0em 0.6em;
}

.ArticleList {
    padding: 1em 2em 1em 2em;
    /*background: #f48422;*/

    /*background: url('http://eskipaper.com/images/city-background-3.jpg');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}